:root {
  --stone-color-100: hsl(30, 54%, 90%);
  --stone-color-150: hsl(30, 18%, 87%);
  --stone-color-600: hsl(30, 10%, 34%);
  --stone-color-900: hsl(24, 5%, 18%);

  --brown-color-800: hsl(14, 45%, 36%);

  --rose-color-800: hsl(332, 51%, 32%);
  --rose-color-50: hsl(330, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
html {
  height: 100%;
}

body {
  font-family: 'Outfit', serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--stone-color-600);
}

h1,
h2 {
  font-family: 'Young Serif', serif;
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: var(--stone-color-900);
}

h2,
h4 {
  color: var(--brown-color-800);
}

h3 {
  color: var(--rose-color-800);
  font-weight: 600;
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.container {
  padding: 2rem;
}

img {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
}

.main h1 {
  margin-bottom: 2rem;
}

.main p {
  margin-bottom: 2rem;
  width: 94%;
}

.main .main--prep-time {
  background-color: var(--rose-color-50);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 3rem;
}

.main .main--prep-time h3 {
  margin-bottom: 2rem;
}

.main .main--prep-time ul {
  margin-left: 2rem;
  width: 70%;
  padding: 0;
  line-height: 2.5rem;
}

.main .main--prep-time ul li::marker {
  color: var(--rose-color-800);
  font-size: 1.2rem;
}

.main .main--prep-time ul li {
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
}

.main .main--ingredients h2 {
  margin-bottom: 1rem;
}
